{% load static %}
<div class="w-64 bg-white shadow-md p-6 flex flex-col justify-between">
    <div>
        <h2 class="text-xl font-bold mb-8"><i class="fas fa-building mr-4 text-purple-600"></i>OYO</h2>
        <ul class="space-y-3 font-medium">
            <li><a href="{% url 'home' %}" class="block px-3 py-2 rounded hover:bg-purple-100">Dashboard</a></li>
            <li><a href="{% url 'asset_list' %}" class="block px-3 py-2 rounded hover:bg-gray-200">Asset</a></li>
            <li><a href="{% url 'employee_list' %}" class="block px-3 py-2 rounded hover:bg-gray-200">Employees</a></li>
            <li><a href="#" class="block px-3 py-2 rounded hover:bg-gray-200">Reports</a></li>
            <li><a href="#" class="block px-3 py-2 rounded hover:bg-gray-200">Maintenance / Repair</a></li>
            <li><a href="{% url 'allocation_form' %}" class="block px-3 py-2 rounded hover:bg-gray-200">Allocate Asset</a></li>
        </ul>
    </div>
    <div class="mt-6">
        <img class="w-11 h-11 rounded-full" src="{% static 'download.jpg' %}" alt="profile">
        <p class="mt-2 font-semibold">Amit Mittal</p>
        <p class="text-sm text-gray-500">Admin</p>
    </div>
</div>
